# OS
.DS_Store

# Python
__pycache__/
*.pyc
backend/spnet.db
backend/*.db

# Node
node_modules/

# Unity
unity/Library/
unity/Temp/
unity/Obj/
unity/Build/
unity/Builds/
unity/Logs/
unity/MemoryCaptures/
unity/UserSettings/

# Unity cache
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# IDE
.vscode/
.idea/

# Python venv
.venv/
